* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

/* dark/light mode */
body.dark {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark section {
    background-color: #333;
}

header {
    background-color: blue;
    color: white;
    padding: 25px;
    text-align: center;
    position: relative;
}


#themeBtn {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 8px 12px;
    cursor: pointer;
}


#colorBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px 12px;
    cursor: pointer;
}



#clickCounter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 1000;
}


main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}


section {
    background-color: #CBC1AE;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    position: relative;
}


.toggleBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;   
    left: auto;    
    padding: 6px 10px;
    cursor: pointer;
}


section h2 {
    margin-top: 0;
}
